@import '../src/common/colors.sass'

// GLOBAL STYLING

*
    font-family: 'Exo 2', sans-serif  // en lien avec link dans header de public/index.html
    padding: 0
    box-sizing: border-box

a
    text-decoration: none
    color: $font-primary

// height 100% screen 
html, body
    height: 100%
    @media screen and (max-width: 768px)   // en dessous de format tablette
        display: flex
        flex-direction: column
        height: auto
        margin: 2px

.App
    height: 100%  // inherit from html and body 100% of their heights

#root, .App
    height: inherit

body
    background: $primary-color

.container
    margin: 0px 40px
    padding-top: 10px
    @media screen and (min-width: 768px) //smartphone
        margin: 0px
        padding-top: 20px
    @media screen and (max-width: 768px)  // tablet
        margin: 3px
        padding-top: 20px
